:root {
  --top-bg-color: rgb(224, 224, 224);
  --top-font-color: rgb(61, 61, 61);
  --button-color: lightgrey;
  --button-hover: white;
  --button-bg-color: rgb(74, 86, 99);
  /*slategrey*/
}

* {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center;
  background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
  font-family: sans-serif;
  color: var(--top-font-color);
}

.container {
  width: 400px;
  position: relative;
}

.loc, 
.temp {
  max-height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temp {
  flex-direction: column;
}

.degree-section,
.feelslike {
  display: flex;
  align-items: center;
  cursor: pointer; 
}

.degree-section span {
  margin-left: 10px;
  font-size: 30px;
}

.degree-section h2 {
  font-size: 40px;
}

.feelslike span {
  margin-left: 5px;
  font-size: smaller;
}

.feels-degrees {
  margin-left: 5px;
}

.feelslike {
  margin: 5px;
  font-style: italic;
  font-size: smaller;
}

.icon {
  margin-left: 15px;
  color: var(--top-font-color);
}

.temp-description {
  font-size: x-large;
}

a, 
p, 
button {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: var(--top-font-color);
}

.nav-button {
  cursor: pointer;
  color: var(--button-color);
  margin: 6px 5px;
}
.nav-button:hover {
  color: var(--button-hover);
}
.nav-button:active {
  position: relative;
  top: 1px;
}

.hide {
  display: none;
}

#status {
  color: white;
}

.loc,
.temp {
  padding: 0 15px;
  background-color: var(--top-bg-color);
}

.loc {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  padding-top: 15px;
  min-height: 145px;
}

.temp {
  padding-bottom: 10px;
  padding-top: 5px;
}

.navbar-nav {
  list-style: none;
  font-size: .8rem;
  background-color: var(--button-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 0;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  margin-bottom: 0;
  position: absolute;
  left: -42px;
  top: 40px;
}

.forecast {
  font-size: .9rem;
  background-color: var(--button-bg-color);
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  padding: 10px 5px;
  color: var(--button-color)
}

.days {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.day {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.weekday {
  font-weight: bold;
}

.date {
  margin-bottom: 4px;
}

.hi {
  margin-top: 4px;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 90vw;
  }
  .navbar-nav {
    width: 100vw;
    height: 42px;
    flex-direction: row;
    position: fixed;
    border-radius: 0;
    top: auto;
    left: 0;
    bottom: 0;
  }
}