* {  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column; 
  align-items: center;
  background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
  font-family: sans-serif;
  color: white;
}

.loc, 
.temp {
  max-height: 30vh;
  max-width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temp {
  flex-direction: column;
}

.degree-section,
.feelslike {
  display: flex;
  align-items: center;
  cursor: pointer; 
}

.degree-section span {
  margin-left: 10px;
  font-size: 30px;
}

.degree-section h2 {
  font-size: 40px;
}

.feelslike span {
  margin-left: 5px;
  font-size: smaller;
}

.feels-degrees {
  margin-left: 5px;
}

.feelslike {
  margin: 5px;
  font-style: italic;
  font-size: smaller;
}

.icon {
  margin: 15px;
}

.temp-description {
  font-size: x-large;
}

.get-loc {
  margin-top: 15px;
}

.get-loc a, p, button {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: white;
}

.find-button {
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	padding:4px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.find-button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.find-button:active {
	position:relative;
	top:1px;
}

.hide {
  display: none;
}